<div id="bot" class={{state}} loop=infinite></div>
{{#if (eq state "greeting")}}
  <div id="button" {{action "startVoiceRecording"}}></div>
{{else}}
  <div id="button" {{action "stopVoiceRecording"}}></div>
{{/if}}
