<div id="bot"></div>
{{#unless (or isPlaying isModalOpen)}}
  {{#if (eq state "greeting")}}
    <div id="button" class="play" {{action "startVoiceRecording"}}></div>
  {{/if}}
  {{#if (eq state "recording")}}
    <div id="button" class="stop" {{action "stopVoiceRecording"}}></div>
  {{/if}}
{{/unless}}